@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  font-family: "public sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6em;
  padding-right: 18em;
}
header nav ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
  font-size: 14px;
  color: hsl(233, 8%, 62%);
}

header nav ul li {
  border-bottom: 3px solid white;
  padding-top: 10px;
}
header nav ul li:hover {
  color: hsl(233, 26%, 24%);
  cursor: pointer;
  border-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    )
    1;
}
.main-header {
  background-color: hsl(0, 0%, 100%);
  position: sticky;
  top: 0;
}
button {
  border-radius: 50px;
  border: none;
  color: white;
  width: 150px;
  padding: 20px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  font-size: 14px;
  font-weight: 500px;
  margin-top: 30px;
}
.hero {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 98%);
  background-image: url(images/bg-intro-desktop.svg);
  background-size: auto;
  justify-content: space-between;
  background-position-x: 700%;
  background-position-y: 70%;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: center;
  padding-left: 6em;
}
.hero-image {
  overflow-x: hidden;
}
.hero-text {
  margin-top: 5em;
  width: 400px;
}
.hero-text h1 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 20px;
}
.hero-text p {
  font-size: 18px;
  color: hsl(233, 8%, 62%);
  line-height: 24px;
}
.hero-image img {
  margin-top: -125px;
  margin-top: 50px;
  margin-right: -125px;
  
  
}
.why-section {
  padding-left: 6rem;
  padding-top: 6rem;
  background-color: hsl(220, 16%, 96%);
}
.why-section h2 {
  font-size: 30px;
  padding-bottom: 30px;
  color:hsl(233, 26%, 24%);
}
.why-section p {
  width: 40%;
  color: hsl(233, 8%, 62%);
  /* padding-bottom: 50px; */
}
.services {
  display: flex;
  padding-top: 4em;
  padding-left: 5em;
  gap: 30px;
  padding-right: 5em;
  background-color: hsl(220, 16%, 96%);
  padding-bottom: 50px;
}
.services p {
  line-height: 20px;
  width: 238px;
  padding-top: 10px;
  color: hsl(233, 8%, 62%);
  font-size: 14px;
}
.services img {
  width: 70px;
  margin-bottom: 20px;
}
.services h3 {
  padding-top: 10px;
}
.articles {
  padding-bottom: 40px;
  background-color: hsl(0, 0%, 98%);
}
.art {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 20px;
  padding-right: 110px;
  padding-top: 40px;
}
.change {
  background-color: white;
  padding-bottom: 20px;
}
.articles img {
  width: 220px;
  height: 150px;
  padding-bottom: 20px;
  border-radius: 10px 10px;
}
.articles h2 {
  padding-left: 80px;
  padding-top: 50px;
}

.art p {
  font-size: 14px;
  width: 230px;
  /* margin-bottom: 90px; */
  color: hsl(233, 8%, 62%);
}
.text-head {
  padding-left: 20px;
}
.art h4 {
  width: 200px;
  padding-bottom: 10px;
}

h6 {
  padding-bottom: 10px;
  color: hsl(233, 8%, 62%);
}
footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  justify-content: space-between;
  text-align: top;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 6rem;
  padding-right: 18rem;
}
.footer-right {
  display: flex;
  align-items: center;
  gap: 6rem;
}

footer ul {
  color: hsl(233, 8%, 62%);
  list-style-type: none;
  line-height: 30px;
}
.copyright p {
  margin-top: 20px;
  color: hsl(233, 8%, 62%);
}
.copyright button {
  margin-top: 5px;
}
.list {
  display: flex;
}
.copyright{
  text-align: right;
}
.footer-icons{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
